# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# IDE
# ==========================
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
.venv/
venv/

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Coverage
# ==========================
coverage/